html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: aliceblue;
}

container {
  width: 60%;
  height: 100%;
  background-color: beige;
  display: flex;
}
