html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f2eae4;
}

container {
  width: 60vw;
  height: 100vh;
  background-color: #f1ebfa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  height: calc(2vw + 4.5vh);
  width: 60vw;
  font-size: 4vw;
  background-color: #c26829;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 0%;
  font-size: 3vmin;
  text-align: center;
  height: auto;
  width: auto;
}

projectsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  height: 30vmax;
  width: 60vw;
  box-sizing: border-box;
  text-align: center;
}

projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  height: 60%;
  width: 100%;
}

.project {
  font-size: 2vmin;
  background-color: #8136eb3b;
  height: 7vh;
  width: 12vw;
  text-align: center;
  line-height: calc(7vmin + 7vmax) / 2;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectAdd {
  font-size: 6vmin;
  background-color: #7affb2;
  height: 8vmin;
  width: 8vmin;
  text-align: center;
  line-height: 10%;
  border-radius: 15px;
  margin: auto;
}

.projectSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  box-sizing: border-box;
}
.projectSectionContainer > summary {
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  cursor: default;
  margin: 0%;
}

toDoSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 60vw;
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  box-sizing: border-box;
}

.toDoHeader {
  width: 100%;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
todocontent {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addToDo {
  font-size: 3vmin;
  background-color: #7affb2;
  height: 8vmin;
  width: 15vmin;
  text-align: center;
  line-height: 10%;
  border-radius: 15px;
  margin: auto;
}

toDos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  height: 80%;
  width: 100%;
}
